@model ArticleListModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}

@section Title
    {

    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-it.btnems-center">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard"><i class="mdi mdi-home-outline fs-1"></i> </a> <h1 class="mb-0 ms-2">Article</h1></li>
                    </ol>
                </nav>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-12">

        <div class="card shadow">
            <div class="card-body">

                <div class="d-flex justify-content-end mdi mdi-arrow-left-bold">
                    <a asp-action="List" asp-controller="Article">Back to Article List</a>
                </div>

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </dd>
                </dl>
                 
            </div>
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
                 
        </div>

    </div>
</div>
