@model AuthorListModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}

@section Title
    {
    <h2 class="card-title">Author </h2>
}

<div class="row">
    <div class="col-12">

        <div class="card shadow">
            <div class="card-body">
                <dl class="row">

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Surname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Surname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </dd>
                </dl>

                <div>
                    @Html.ActionLink("Update", "Update", new { Model.Id }, new{@class="btn btn-warning"})
                    <a asp-action="List" asp-controller="Author">Back to Author List</a>
                </div>

            </div>
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            } 
        </div> 
    </div> 
</div>