@model IEnumerable<AuthorListModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}

@section Title
    {

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-it.btnems-center">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard"><i class="mdi mdi-home-outline fs-1"></i> </a> <h1 class="mb-0 ms-2">Author</h1></li>
                </ol>
            </nav> 
        </div>
        <div class="col-6">
             
        </div>
    </div>
</div> 
}


        <div class="card shadow">
            <div class="card-body">

        <div class="d-flex justify-content-end">
            <p>
                <a asp-action="Create" asp-controller="Author" class="btn btn-outline-primary">  Add New Author  </a> 
                &nbsp; |  &nbsp; 
                <a asp-action="DownloadExcel" asp-controller="Author" class="btn btn-outline-primary">  Download Excel </a>
            </p>
        </div>
              

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"> Name </th>
                                <th scope="col"> Surname </th>
                                <th scope="col"> Age </th>
                                <th scope="col"> Created Date </th>
                                <th scope="col"> Updated Date  </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Id </td>
                                    <td> @item.Name </td>
                                    <td> @item.Surname  </td>
                                    <td> @item.Age </td>
                                    <td>
                                        <div class="d-flex flex-nowrap grap-1 text-nowrap">
                                            @item.CreatedDate
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-nowrap grap-1 text-nowrap">
                                            @item.UpdatedDate
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-nowrap gap-1 text-nowrap justify-content-end gap-1">
                                    @Html.ActionLink("", "Update", new { item.Id }, new{@class="btn btn-warning mdi mdi-lead-pencil"})
                                    @Html.ActionLink("", "Details", new { item.Id }, new{@class="btn btn-primary mdi mdi-eye"})
                                    @Html.ActionLink("", "Delete", new { item.Id }, new{@class="btn btn-danger mdi mdi-delete"} )
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }

            </div>

        </div>
