@model IEnumerable<AuthorListModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}

@section Title
    {
    <h2 class="card-title">Author </h2>
}

<div class="row">
    <div class="col-12">

        <div class="card shadow">
            <div class="card-body">


                <p>
                    <a asp-action="Create" asp-controller="Author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>

                        Add Author
                    </a> &nbsp;

                    <a asp-action="DownloadExcel" asp-controller="Author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z" />
                        </svg>

                        Download Excel
                    </a>
                </p>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"> Name </th>
                                <th scope="col"> Surname </th>
                                <th scope="col"> Age </th>
                                <th scope="col"> Created Date </th>
                                <th scope="col"> Updated Date  </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Id </td>
                                    <td> @item.Name </td>
                                    <td> @item.Surname  </td>
                                    <td> @item.Age </td>
                                    <td> @item.CreatedDate </td>
                                    <td> @item.UpdatedDate </td>
                                    <td>
                                        <div class="d-flex flex-nowrap gap-1 text-nowrap">
                                            @Html.ActionLink("Update", "Update", new { item.Id }, new{@class="btn btn-warning mdi mdi-lead-pencil"})
                                            @Html.ActionLink("Details", "Details", new { item.Id }, new{@class="btn btn-primary mdi mdi-format-list-bulleted"})
                                            @Html.ActionLink("Delete", "Delete", new { item.Id }, new{@class="btn btn-danger mdi mdi-delete"} )
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }

            </div>

        </div>
    </div>
</div>
