@model IEnumerable<EntityLayer.Concrete.Todo>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}
@section Title
    {

    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-it.btnems-center">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard"><i class="mdi mdi-home-outline fs-1"></i> </a> <h1 class="mb-0 ms-2">Todo</h1></li>
                    </ol>
                </nav>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-12">

        <div class="card shadow">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <p>
                        <a asp-action="Create" asp-controller="Todo" class="btn btn-outline-primary">Add New Task </a>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"> Title </th>
                                <th scope="col"> Description </th>
                                <th scope="col"> Status </th>
                                <th scope="col"> Created Date </th>
                                <th scope="col"> Updated Date </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Id </td>
                                    <td>
                                        <div class="d-flex flex-nowrap grap-1 text-nowrap">
                                            @item.Title

                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-nowrap grap-1 text-nowrap">
                                            @item.Description
                                        </div>
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        <div class="d-flex flex-nowrap grap-1 text-nowrap">
                                            @item.CreatedDate
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-nowrap grap-1 text-nowrap">
                                            @item.UpdatedDate
                                        </div>
                                    </td>

                                    <td>
                                        <div class="d-flex flex-nowrap gap-1 text-nowrap justify-content-end gap-1">
                                            @Html.ActionLink("", "Update", new { item.Id }, new{@class="btn btn-warning mdi mdi-lead-pencil"})
                                            @Html.ActionLink("", "Delete", new { item.Id }, new{@class="btn btn-danger mdi mdi-delete"} )
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        </div>
    </div>

</div> 